@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Barlow", sans-serif;
	background-image: url("/media/images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed; /* Mantiene la imagen fija */
	min-height: 100vh; /* Cambia height a min-height */
	width: 100%;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	flex-direction: column;
}

.title {
	margin-top: 0%;
	margin-bottom: 1px;
	text-align: center;
	text-shadow: 2px 2px 10px black;
	color: #ff0000;
}
.weatherIcon {
	width: 200px;
	height: auto;
}

#getCity {
	width: 200px;
	position: relative;
	margin: auto;
	margin-top: 0%;
	height: 50px;
	border: none;
	border-radius: 10px;
	padding: 0 10px;
	outline: none;
	box-shadow: 0 8px 32px 0 rgba(31, 31, 31, 0.37);
	text-align: center;
}

.infoContainer {
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 8px 32px 0 rgba(31, 31, 31, 0.37);
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
	border-radius: 20px;
	max-width: 300px;
	min-height: 380px;
	position: relative;
	margin: auto;
	margin-top: 30px;
	padding: 20px;
	text-align: center;
}



.cityName {
	font-size: 23px;
	margin: 20px 0;
}

.weatherDeg {
	font-size: 80px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.weatherCondition {
	margin-bottom: 20px;
}